
<body>

    <!-- navbar -->
    <app-navbar></app-navbar>


    <div class="container my-3">

        <div class="card" style="width:fit-content">
            
            <img src="assets\twitter_header_photo_2.png" class="card-img-top" alt="...">
            <div class="card-body">
                 
                <div class="row">

                    <div class="h2">
                        Inicio de sesión Administrador
                    </div>
            
                    <form [formGroup]="loginForm" (ngSubmit)="loginAdmin(loginForm.getRawValue())">
                        
                        <div class="mb-4 mx-4">
                            <label for="cedulaLabel" class="form-label">Cédula</label>
                            <input 
                                type="text" 
                                id="cedula"
                                formControlName="cedula"
                                class="form-control" 
                                placeholder="1 234 567" 
                                autofocus />
        
                        </div>
            
                        <div class="mb-4 mx-4">
                            <label for="passwordLabel" class="form-label">Constraseña</label>
                            <input 
                                type="password" 
                                id="password"
                                formControlName="password"
                                class="form-control" 
                                placeholder="Constraseña" />
                        </div>
            
                        <div class="mb-4 mx-4 centrado">
                            <button class="btn btn-success" [disabled]="!loginForm.valid" type="submit">Iniciar sesión</button>
                        </div>
            
                    </form>
        
                </div>

            </div>

        </div>

    </div>

</body>