<body>
    <!--Sidebar-->
    <app-sidebar></app-sidebar>

    <div class="container my-4">

        <div class="card mb-3" style="max-width:fit-content;">

            <div class="row g-0">
    
                <div class="col-md-4">
                    <img src="assets\facebook_profile_image_2_400x400.png" class="img-fluid rounded-start" alt="facebook_profile_image">
                  </div>

                  <div class="col-md-8">
    
                    <form [formGroup]="agregarServicioForm" (ngSubmit)="agregarServicio(agregarServicioForm.getRawValue())">
        
                        <div class="row my-4 mx-4">
        
                            <label for="nombre_sucursal">Sucursal</label>
            
                            <select class="form-select" aria-label="nombre_sucursal" (change)="cambiarNombreSucursal($event)">
                                
                                <option>Seleccionar Sucursal</option>
                                <option *ngFor="let branch of branches" [ngValue]="branch">
                                    {{branch.sucursal}}
                                </option>
    
                            </select>
    
                            <label for="servicio">Servicio</label>
    
                            <select class="form-select" aria-label="servicio" (change)="cambiarServicio($event)">

                                <option>Seleccionar Servicio</option>
                                <option *ngFor="let service of services" [ngValue]="service">
                                    {{service.servicio}}
                                </option>
    
                            </select>
                            
                            <label for="fecha_apertura">Descripción</label>
                            <input 
                            type="text" 
                            class="form-control" 
                            id="descripcion" 
                            formControlName="descripcion"
                            >
    
                            <div class="col-4 my-4">
                                <button class="btn btn-success" type="submit">AgregarServicio</button>
                            </div>
                        </div>
                        
        
                </form>
        
                </div>
    
            </div>
        
        </div>

    </div>
    
</body>