<body>
    <!--Sidebar-->
    <app-sidebar></app-sidebar>

    <div class="container my-4">

        <div class="card mb-3" style="max-width:fit-content;">

            <div class="row g-0">
    
                <div class="col-md-4 centrado">
                    <img src="assets\facebook_profile_image_2_400x400.png" class="img-fluid rounded-start" alt="facebook_profile_image">
                  </div>

                  <div class="col-md-8">
    
                    <form [formGroup]="agregarServicioForm" (ngSubmit)="agregarServicio(agregarServicioForm.getRawValue())">
        
                        <div class="row my-4 mx-4">
                            
                            <label for="fecha_apertura">Descripción</label>
                            <textarea 
                            type="text" 
                            class="form-control" 
                            id="descripcion" 
                            formControlName="descripcion"
                            rows="3"
                            ></textarea>
    
                            <div class="col-4 my-4">
                                <button class="btn btn-success" type="submit">AgregarServicio</button>
                            </div>
                        </div>
                        
        
                </form>
        
                </div>
    
            </div>
        
        </div>

    </div>
    
</body>