/* Hyperlink */

a {
    cursor: pointer;
    color: #000000;
    text-decoration: none;
  }
  
  a:hover {
    opacity: 0.8;
  }

  /**
  .list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
**/