<body>
    
    <app-navbar></app-navbar>

    <div class="container">

        <form [formGroup]="buscarForm" (ngSubmit)="solicitarCitas(buscarForm.getRawValue())">

            <div class="row py-4">
    
                <div class="col-6">
    
                    <label for="sucursal">Sucursal</label>
        
                    <select class="form-select" formControlName="sucursal" >
                        <option *ngFor="let branch of branches" [ngValue]="branch.nombre_sucursal">
                            {{branch.nombre_sucursal}}
                        </option>
                    </select>
    
                </div>
    
                <div class="col-6">
    
                    <label for="fecha">Fecha Apertura</label>
                    <input 
                    type="date" 
                    class="form-control" 
                    id="fecha" 
                    formControlName="fecha"
                    >
                    
                </div>
    
            </div>

            <div class="row py-2 px-2">
                <button class="btn btn-success" type="submit">Buscar</button>
            </div>

        </form>

        <div class="row py-4">

            <ul class="list-group overflow-auto shadow" style="max-height:calc(100vh - 200px);">
            
                <div *ngFor="let class of classes; let i=index">
            
                    <li class="list-group-item">
        
                        <h4>
                            <div> Clase {{ class.clase_id }} </div>
                            <div> Servicio {{ class.servicio }} </div>
                        </h4>
                        
                    </li>
        
                </div>

            </ul>

        </div>

    </div>

</body>