<app-sidebar></app-sidebar>

<body>

    <div class="container py-4">
        
        <h1>Empleados</h1>

        <div class="row py-4">

            <ul class="list-group overflow-auto shadow" style="max-height: 272px;">
        
                <div *ngFor="let employee of employees; let i=index">
        
                    <li class="list-group-item">
        
                        <h4>
        
                            <a [routerLink]="['/empleados', employees[i].cedula]">
                                <div>{{ employees[i].nombre + ' ' +
                                    employees[i].apellido_1 + ' ' +
                                    employees[i].apellido_2}}</div>
                            </a>
        
                        </h4>
                        
                    </li>
        
                </div>
        
              </ul>

        </div>
        
        <button type="button" class="btn btn-primary" (click)="agregarEmpleado()">Agregar Sucursal</button>
        
    </div>

</body>